
    <div class="container-fluid" style="margin-left: -10px;">
        <h3 class="h3 animate__animated animate__bounceIn" style="animation-duration: 2s;">Order Placed!!. It will be deliver at your door step within few minutes!! </h3><br>
        <table id="customers">
            <tr>
                <th>Orders</th>
                <th>Address</th>
                <th>Phone No.</th>
                <th>Time</th>
                
            </tr>
            <tr>
                <%if(orders.length)%>
                <% orders.forEach((order)=>{%>
                <td><%= order._id %></td>
                <td><%= order.address %></td>
                <td><%=order.phone%></td>
                <td><%=moment(order.createdAt).format('hh:mm A')%></td>
               
                
            </tr>
            <%})%>
        </table>
      
    </div>
